html{
    background:url('/images/udustatud2.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

body{
    background: transparent;
    height: 100%;
}

.search-bar-container{
    margin-top:5%;
    background: rgba(225,225,225, 0.8); /* 4th parameter is alpha - opacity from 0-1 */
    border-radius: 5px; /*rounded corners to elements */
    height: 43vh;
    width:60vw;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    display:flex;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    padding: 0 10px; /* text padding from each side */
}


.expandable{
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    margin-bottom:10px;
}

#intro-text{
    height:130px;
    overflow:hidden;
}

#app-intro-text{
    text-align: justify;
    font-family: Ubuntu, sans-serif;
}

.sign-toggle{
    cursor:pointer;
}


#intro{
    width:60vw;
    font-family: Ubuntu, sans-serif;
    color:#ffffff;
    margin:auto;
    opacity:0.8;
    text-align: center;

}

.fullscreen-content{
    background: rgba(255, 255, 255, 0.8); /* 4th parameter is alpha - opacity from 0-1 */
    margin-top: 2%;
    height: 43vh;
    width:60vw;
    border-radius: 3px; /*rounded corners to elements */
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    padding: 0 10px; /* text padding from each side */
}

.input-group{
    margin:auto;
    width:80%;
}
#button-container{
    width: 15%;
    float: right;
}

#search-bar{
    width:85%;
    minwidth: 30vw;
}

.candidate-name{

    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    width:300px;
    text-align: center;
    font-family: Ubuntu, sans-serif;
    font-size:30px;
    font-weight: 900;

}

.comment{
    margin-left:40px;
    margin-right:40px;
    margin-top:40px;
    text-align:justify;
    font-family: sans-serif;
    font-size:130%;
}

#referees-list{
    margin-left:40px;
    margin-right:40px;
    margin-top:50px;
    text-align:justify;
    font-family: sans-serif;
    font-size:130%;
}

#stats{
    margin-left:40px;
    margin-right:40px;
    margin-top:50px;
    text-align:justify;
    font-family: Ubuntu, sans-serif;
    font-size:18px;
}

.firstLetter {
    cursor:pointer;
    display:inline-block;
    word-spacing:4px;
    font-size: 16px;
    /*font-family: Ubuntu, sans-serif;*/
    margin-left:10px;
    line-height:18px;
    width:14px;

}

.highlight{
    word-spacing:4px;
    font-weight: bold;
    font-size:18px;
    overflow: visible;
    /*vertical align*/
    /*font-family: Ubuntu, sans-serif;*/
    margin-left:10px;
}

.firstLetter#A{
    margin-left:20px;
}

#alphabetically{
    cursor:pointer;
    width:100px;
    margin-left: 20px;
    margin-top: 20px;

}

#tablediv{
    margin-left:20px;
    line-height:220%;
    cursor:pointer;
}

.btn-primary.go {
    box-shadow: none;
    margin-bottom:0px;
    margin-top:0px;
    border-color:#33a6cc;
    font-family: Ubuntu, sans-serif;

}

.no-connection-notice-container{

    display:flex;
}

.no-connection-notice{
    margin:auto;
    margin-top:60px;
    font-family: Ubuntu, sans-serif;
}