
.home, .referees-button, .log-in, .invite, .statistics {
    position: fixed;
    margin-top:50px;
    width: 120px;
    z-index: 2;
    font-family: Ubuntu, sans-serif;
}

.home{
    margin-left:57%;
}

.referees-button {
    margin-left: 65%;
}

.log-in{
    margin-left:73%;
}

.invite{
    margin-left:81%;
}

.statistics{
    margin-left:89%;
}

.btn-primary {
    background: #33a6cc;
    box-shadow: 0 3px 0 0 #007299;
    margin-bottom: -3px;
    margin-top: 3px;
}