<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/tere</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>CommentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>InvitationServlet</servlet-name>
        <servlet-class>InvitationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InvitationServlet</servlet-name>
        <url-pattern>/invite</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FirstPageServlet</servlet-name>
        <servlet-class>FirstPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstPageServlet</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GoogleAuthServlet</servlet-name>
        <servlet-class>GoogleAuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoogleAuthServlet</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefereeServlet</servlet-name>
        <servlet-class>RefereeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefereeServlet</servlet-name>
        <url-pattern>/soovitaja</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefereeListServlet</servlet-name>
        <servlet-class>RefereeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefereeListServlet</servlet-name>
        <url-pattern>/soovitajate-nimekiri</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefereesJSONServlet</servlet-name>
        <servlet-class>RefereesJSONServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefereesJSONServlet</servlet-name>
        <url-pattern>/soovitajate-nimekiri/random</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PushServlet</servlet-name>
        <servlet-class>PushServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PushServlet</servlet-name>
        <url-pattern>/PushServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ElectionServlet</servlet-name>
        <servlet-class>ElectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ElectionServlet</servlet-name>
        <url-pattern>/statistika</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <mime-mapping>
        <extension>manifest</extension>
        <mime-type>text/cache-manifest</mime-type>
    </mime-mapping>

</web-app>